[submodule "inspirations/claude-code"]
	path = inspirations/claude-code
	url = https://github.com/anthropics/claude-code.git
[submodule "inspirations/knowledge-work-plugins"]
	path = inspirations/knowledge-work-plugins
	url = https://github.com/anthropics/knowledge-work-plugins.git
[submodule "inspirations/claude-plugins-official"]
	path = inspirations/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official.git
